# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp

# Ignorar dados brutos e pesados do pipeline
data/raw/
data/processed/
*.zip
*.csv

# Manter os arquivos de estrutura de pastas
!data/
!data/raw/
!data/raw/tse/
!data/raw/tse/2020/
!data/raw/tse/2022/
!data/raw/tse/2024/
!data/processed/
data/raw/tse/2020/*
data/raw/tse/2022/*
data/raw/tse/2024/*
!data/**/.gitkeep
